body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-size: cover;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
.info,
.social-media,
.testimonials {
  margin-bottom: 20px;
  align-items: center;
}
.social-media a {
  text-decoration: unset;
}
.info p,
.testimonials p {
  margin: 5px 0;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.form-group button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
.form-group button:hover {
  background-color: #45a049;
}
.social-media a {
  margin: 0 10px;
}
.social-media img {
  width: 24px;
  height: 24px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  display: none;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
.success {
  background-color: #4caf50;
}
.fa-square-facebook {
  margin-right: 10px;
}
